@media (max-width: 1399px)
    .nav
        &_logo
            width: 70px
            height: 30px
        &_menu
            &_link
                font-size: 14px
        &_booking-link
            font-size: 12px

    .subheader
        min-height: 870px
        &_logo
            max-width: 450px
            max-height: 170px
        &_title
            font-size: 66px
        &_promo
            font-size: 30px
            &_round
                width: 50px
                height: 50px
                i
                    font-size: 31px
        &_rider
            a
                font-size: 18px

    .clients
        &_title
            font-size: 42px
        img
            width: 200px
            height: 200px
        &_text
            font-size: 26px

// 1199
@media (max-width: 1199px)
    .nav
        &_menu
            &_link
                font-size: 12px
                margin-right: 25px
        &_booking-link
            font-size: 10px

    .subheader
        min-height: 820px
        &_logo
            max-width: 420px
            max-height: 150px
        &_title
            font-size: 60px
        &_promo
            font-size: 27px
            &_round
                width: 45px
                height: 45px
                i
                    font-size: 28px
        &_rider
            a
                font-size: 16px

    .clients
        &_text
            &::after
                display: none

// 991
@media (max-width: 991px)
    .nav
        padding-top: 10px
        align-items: start
        &_menu
            &_link
                font-size: 11px
        &_booking-link
            position: absolute
            top: 35px
            left: 50%
            transform: translateX(-50%)
            padding: 2px 5px

    .subheader
        padding-top: 160px
        min-height: 760px
        &_logo
            max-width: 420px
            max-height: 150px
        &_title
            font-size: 56px
        &_promo
            display: flex
            flex-direction: column
            align-items: center
            font-size: 27px
            &_round
                margin: 0
                margin-bottom: 10px
                width: 45px
                height: 45px
                i
                    font-size: 28px
        &_rider
            margin-top: 35px
            a
                font-size: 16px

    .roster
        &_block
            font-size: 16px

    .price
        &_item
            font-size: 18px

    .contacts
        &_phone
            a
                font-size: 22px

// 767
@media (max-width: 767px)
    .nav
        align-items: center
        padding-top: 0px
        padding: 0 15px
        &_logo
            width: 70px
            height: 30px
        &_menu
            position: fixed
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            top: 0
            right: -100%
            width: 50%
            height: 100vh
            padding: 20px 15px
            background-color: rgba(0,0,0, .8)
            transition: 0.6s all
            &_link
                font-size: 14px
                margin: 0
                margin-top: 25px
            &_active
                right: 0
                z-index: 2
        &_booking-link
            position: static
            transform: translateX(0%)
            font-size: 9px
            padding: 5px
        .hamburger
            position: relative
            z-index: 3
            display: block
            width: 20px
            height: 20px
            div
                display: block
                height: 2px
                width: 100%
                background-color: #fff
                margin-top: 4px
                transition: 0.5s all
            &_active
                div
                    margin-bottom: -2px
                    &:nth-child(1)
                        transform: rotate(-45deg) translateY(3px)
                    &:nth-child(2)
                        display: none
                    &:nth-child(3)
                        transform: rotate(45deg) translateY(-2.5px)

    .subheader
        min-height: 680px
        &_logo
            max-width: 400px
            max-height: 130px
        &_title
            font-size: 50px
        &_promo
            font-size: 24px
            &_round
                width: 40px
                height: 40px
                i
                    font-size: 28px
        &_rider
            a
                font-size: 16px

    .roster
        &_title
            margin-bottom: 30px
            font-size: 36px
        &_block
            margin-top: 40px

    .promo
        &_title
            font-size: 36px
        iframe
            margin-top: 40px

    .whywe
        &_title
            font-size: 36px
        &_subtitle
            font-size: 26px

    .clients
        &_title
            font-size: 38px

    .price
        &_title
            font-size: 36px

    .reviews
        &_title
            font-size: 36px

    .contacts
        &_title
            font-size: 36px

//575
@media (max-width: 575px)
    .subheader
        background-position: 40% 27%
        min-height: 650px
        &_logo
            max-width: 280px
            max-height: 90px
        &_title
            font-size: 36px
        &_promo
            font-size: 20px
            &_round
                width: 30px
                height: 30px
                i
                    font-size: 20px
        &_rider
            a
                font-size: 14px

    .promo
        &_title
            font-size: 36px

    .whywe
        &_title
            font-size: 36px
        &_block
            flex-direction: column
            margin-bottom: 40px
            text-align: center
        &_round
            margin: 0
            margin-bottom: 20px
            width: 70px
            height: 70px
            i
                font-size: 32px
        &_subtitle
            font-size: 22px
        &_text
            font-size: 16px

    .clients
        &_block
            flex-direction: column
            img
                margin: 0
                margin-bottom: 20px

        &_title
            font-size: 35px
        &_text
            font-size: 22px

    .price
        &_item
            font-size: 16px

    .reviews
        &_name
            font-size: 18px
        &_text
            font-size: 16px

    .contacts
        &_phone
            a
                font-size: 20px
        &_name
            font-size: 20px
        &_socialmedia
            font-size: 20px
